body {
	padding: 0;
	margin: 0;
}

#app-container {	
	position: absolute;

	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	overflow: hidden;
}

#top-split {
	position: absolute;

	top: 0px;
	bottom: 600px;
	left: 0px;
	right: 0px;

	border-top: 1px solid #777D7E;
}

#vis-changer {
	position: absolute;
	right:0;
	top: 0;
}

#live-view {
	height: 100%;
	width: 100%;

	border: none;
	padding: 0;
	margin: 0;
}

#bottom-split {
	position: absolute;

	height: 600px;

	bottom: 0px;
	left: 0px;
	right: 0px;
}

#vis-panel {
	display: inline-block;
	position: absolute;
		
	top: 0px;
	bottom: 0px;
	left: 0px;

	width: 300px;
	background-color: #1D1E19;
}

#editor-panel { 
	display: inline-block;
	position: absolute;
	border-left: 2px solid #777D7E;
		
	top: 0px;
	bottom: 0px;
	left: 300px;
	right: 300px;
}

.editor-gutter-highlight {
	background-color: red;
}

#css-panel {
	display: inline-block;
	position: absolute;
	z-index: 1;
	border-left: 2px solid #777D7E;	
	top: 0px;
	bottom: 0px;
	right: 0px;

	width: 300px;
}